<div class="content">
  <div>
    <h5 class="center-align">検索ツール</h5>
  </div>
  
    <%= @skkims.kk_kanji %>

  <table class="striped">
    <thead>
      <tr>
        <th>部門コード</th>
        <th>部門名</th>
      </tr>
      <tbody>
        <% @skbums.each do |skbum| %>
        <tr>
          <td><%= skbum.bumon_cd %></td>
          <td><%= skbum.bumon_kanji %></td>
        </tr>
        <% end %>
      </tbody>
    </thead>
  </table>

</div>